<div class="jumbotron container">
  <h2>Matches</h2>
  <div>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let match of matches | paginate: { id:'pg_matches',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: count
      }; let i = index"
        (click)="redirectMatch(match.match_id)"
        onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
        onmouseout="this.style.background='white';"
            
      >
        <b>{{ match.team1 }}</b> vs <b>{{ match.team2 }}</b> <br>
        {{ match.stadium_name }}, {{ match.city_name }} <br>
        <u>{{ match.winning_team }}</u> won by {{ match.win_margin }} {{ match.win_type }} 
      </li>
    </ul> 
  </div> 
  <div class="d-flex justify-content-center" style="padding-top: 20px;">
    <pagination-controls 
      id = "pg_matches"
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</div>
