<div class="container">
    <div class = "page-header">
      <h2>Playercard</h2>
      <div class = "jumbotron">
        <h3>Player Name:-{{ playerinfo.player_name }} </h3>
        <h3>Country Name:-{{ playerinfo.country_name }} </h3>
        <h3>Batting Skill:-{{ playerinfo.batting_skill }} </h3>
        <h3>Bowling Skill:-{{ playerinfo.bowling_skill }} </h3>
    </div>
    <div class = "jumbotron col-md-12">
        <h2>Player Stats</h2><br>
        <canvas id="Player_Stats" width="500"></canvas>
      </div>
  </div>
  
