<div class="container" *ngIf="flag">
  <div class = "page-header">
    <h2>Scorecard</h2>
    <div class = "jumbotron">
      <h4>Innings 1</h4>
      <table class="table">
          <thead>
              <tr>
                  <th scope = "col">Batsman</th>
                  <th scope = "col">Runs</th>
                  <th scope = "col">Fours</th>
                  <th scope = "col"> Sixes</th>
                  <th scope = "col">Balls faced</th>
              </tr>
          </thead>
          <tbody>    
              <tr
              *ngFor="let batsman of batsmenInnings1; let i = index"
              (click)="redirectPlayer(batsman.player_id)"
              onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
              onmouseout="this.style.background='white';"
              >
              <!-- [class.active]="i == currentIndex"
              (click)="setActiveMatch(i)"
              (dblclick)="redirectMatch(match.match_id)" -->
                  <th scope = "row">{{ batsman.player_name }}</th>
                  <td>{{ batsman.runs }}</td>
                  <td>{{ batsman.fours }}</td>
                  <td>{{ batsman.sixes }}</td>
                  <td>{{ batsman.balls }}</td>
              </tr>
          </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Extras</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>    
            <tr *ngFor="let innings of totalInnings1; let i = index">
                <td>{{ innings.extra_runs }}</td>
                <td>{{ innings.tot_runs }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
            <th scope = "col">Bowler</th>
            <th scope = "col">Balls bowled</th>
            <th scope = "col">Runs given</th>
            <th scope = "col">Wickets taken</th>
        </tr>
      </thead>
      <tbody>    
          <tr
          *ngFor="let bowler of bowlersInnings1; let i = index"
          (click)="redirectPlayer(bowler.player_id)"
          onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
          onmouseout="this.style.background='white';"
          >
              <th scope = "row">{{ bowler.player_name }}</th>
              <td>{{ bowler.balls }}</td>
              <td>{{ bowler.runs }}</td>
              <td>{{ bowler.wickets }}</td>
          </tr>
      </tbody>
    </table>
    
  </div>
  <div class = "jumbotron">
    <h4>Innings 2</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope = "col">Batsman</th>
                <th scope = "col">Runs</th>
                <th scope = "col">Fours</th>
                <th scope = "col"> Sixes</th>
                <th scope = "col">Balls faced</th>
            </tr>
        </thead>
        <tbody>    
            <tr
            *ngFor="let batsman of batsmenInnings2; let i = index"
            (click)="redirectPlayer(batsman.player_id)"
            onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
            onmouseout="this.style.background='white';"
            >
            <!-- [class.active]="i == currentIndex"
            (click)="setActiveMatch(i)"
            (dblclick)="redirectMatch(match.match_id)" -->
                <th scope = "row">{{ batsman.player_name }}</th>
                <td>{{ batsman.runs }}</td>
                <td>{{ batsman.fours }}</td>
                <td>{{ batsman.sixes }}</td>
                <td>{{ batsman.balls }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Extras</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>    
          <tr *ngFor="let innings of totalInnings2; let i = index">
              <td>{{ innings.extra_runs }}</td>
              <td>{{ innings.tot_runs }}</td>
          </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
            <th scope = "col">Bowler</th>
            <th scope = "col">Balls bowled</th>
            <th scope = "col">Runs given</th>
            <th scope = "col">Wickets taken</th>
        </tr>
      </thead>
      <tbody>    
          <tr
          *ngFor="let bowler of bowlersInnings2; let i = index"
          (click)="redirectPlayer(bowler.player_id)"
          onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
          onmouseout="this.style.background='white';"
          >
              <th scope = "row">{{ bowler.player_name }}</th>
              <td>{{ bowler.balls }}</td>
              <td>{{ bowler.runs }}</td>
              <td>{{ bowler.wickets }}</td>
          </tr>
      </tbody>
    </table>
    </div>
    
    <div class = "jumbotron">
      <h2>Match {{ matchInfo.match_info.match_id }} info</h2>
      <hr>
      <div class = "container">
          <b>{{ matchInfo.match_info.team1 }}</b> vs <b>{{ matchInfo.match_info.team2 }}</b> 
          in <b>{{ matchInfo.match_info.season_year }}</b> 
          at <b>{{ matchInfo.match_info.stadium_name }}, {{ matchInfo.match_info.city_name }}</b><br>
          <b>{{ matchInfo.match_info.toss_winner }}</b> won the toss and chose to <b>{{ matchInfo.match_info.toss_name }}</b>
      </div>
      <hr>
      <div class= "justify-content-center flex">
        <table class = "table">
          <thead>
            <tr>
              <th>Players in {{ matchInfo.match_info.team1 }}</th>
              <th>Players in {{ matchInfo.match_info.team2 }} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
              <td (click)="redirectPlayer(matchInfo.players1[i].player_id)"
              >{{ matchInfo.players1[i].player_name }}</td>
              <td (click)="redirectPlayer(matchInfo.players2[i].player_id)"
              >{{ matchInfo.players2[i].player_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class= "justify-content-center flex">
        <table class = "table">
          <thead>
            <tr>
              <th>Umpires in the match</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of [0, 1, 2]">
              <td>{{ matchInfo.umpires[i].umpire_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class = "jumbotron col-md-12">
      <h2>Score Comparison</h2><br>
      <canvas id="ballByBall" width="500"></canvas>
    </div>

    <div class = "jumbotron">
      <h2>Match Summary</h2>

    </div>
  </div>
</div>

<!-- <ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div> -->
<!-- </ng-template> -->