<div class="container" *ngIf="flag">
  <div class = "page-header">
    <h2>Scorecard</h2>
    <div class = "jumbotron">
      <h4>Innings 1</h4>
      <table class="table">
          <thead>
              <tr>
                  <th scope = "col">Batsman</th>
                  <th scope = "col">Runs</th>
                  <th scope = "col">Fours</th>
                  <th scope = "col"> Sixes</th>
                  <th scope = "col">Balls faced</th>
              </tr>
          </thead>
          <tbody>    
              <tr
              *ngFor="let batsman of batsmenInnings1; let i = index"
              (click)="redirectPlayer(batsman.player_id)"
              onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
              onmouseout="this.style.background='white';"
              >
              <!-- [class.active]="i == currentIndex"
              (click)="setActiveMatch(i)"
              (dblclick)="redirectMatch(match.match_id)" -->
                  <th scope = "row">{{ batsman.player_name }}</th>
                  <td>{{ batsman.runs }}</td>
                  <td>{{ batsman.fours }}</td>
                  <td>{{ batsman.sixes }}</td>
                  <td>{{ batsman.balls }}</td>
              </tr>
          </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Extras</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>    
            <tr *ngFor="let innings of totalInnings1; let i = index">
                <td>{{ innings.extra_runs }}</td>
                <td>{{ innings.tot_runs }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
            <th scope = "col">Bowler</th>
            <th scope = "col">Balls bowled</th>
            <th scope = "col">Runs given</th>
            <th scope = "col">Wickets taken</th>
        </tr>
      </thead>
      <tbody>    
          <tr
          *ngFor="let bowler of bowlersInnings1; let i = index"
          (click)="redirectPlayer(bowler.player_id)"
          onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
          onmouseout="this.style.background='white';"
          >
              <th scope = "row">{{ bowler.player_name }}</th>
              <td>{{ bowler.balls }}</td>
              <td>{{ bowler.runs }}</td>
              <td>{{ bowler.wickets }}</td>
          </tr>
      </tbody>
    </table>
    
  </div>
  <div class = "jumbotron">
    <h4>Innings 2</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope = "col">Batsman</th>
                <th scope = "col">Runs</th>
                <th scope = "col">Fours</th>
                <th scope = "col"> Sixes</th>
                <th scope = "col">Balls faced</th>
            </tr>
        </thead>
        <tbody>    
            <tr
            *ngFor="let batsman of batsmenInnings2; let i = index"
            (click)="redirectPlayer(batsman.player_id)"
            onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
            onmouseout="this.style.background='white';"
            >
            <!-- [class.active]="i == currentIndex"
            (click)="setActiveMatch(i)"
            (dblclick)="redirectMatch(match.match_id)" -->
                <th scope = "row">{{ batsman.player_name }}</th>
                <td>{{ batsman.runs }}</td>
                <td>{{ batsman.fours }}</td>
                <td>{{ batsman.sixes }}</td>
                <td>{{ batsman.balls }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th>Extras</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>    
          <tr *ngFor="let innings of totalInnings2; let i = index">
              <td>{{ innings.extra_runs }}</td>
              <td>{{ innings.tot_runs }}</td>
          </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
            <th scope = "col">Bowler</th>
            <th scope = "col">Balls bowled</th>
            <th scope = "col">Runs given</th>
            <th scope = "col">Wickets taken</th>
        </tr>
      </thead>
      <tbody>    
          <tr
          *ngFor="let bowler of bowlersInnings2; let i = index"
          (click)="redirectPlayer(bowler.player_id)"
          onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
          onmouseout="this.style.background='white';"
          >
              <th scope = "row">{{ bowler.player_name }}</th>
              <td>{{ bowler.balls }}</td>
              <td>{{ bowler.runs }}</td>
              <td>{{ bowler.wickets }}</td>
          </tr>
      </tbody>
    </table>
    </div>
    
    <div class = "jumbotron">
      <h2>Match {{ matchInfo.match_info.match_id }} info</h2>
      <hr>
      <div class = "container">
          <b>{{ matchInfo.match_info.team1 }}</b> vs <b>{{ matchInfo.match_info.team2 }}</b> 
          in <b>{{ matchInfo.match_info.season_year }}</b> 
          at <b>{{ matchInfo.match_info.stadium_name }}, {{ matchInfo.match_info.city_name }}</b><br>
          <b>{{ matchInfo.match_info.toss_winner }}</b> won the toss and chose to <b>{{ matchInfo.match_info.toss_name }}</b>
      </div>
      <hr>
      <div class= "justify-content-center flex">
        <table class = "table">
          <thead>
            <tr>
              <th>Players in {{ matchInfo.match_info.team1 }}</th>
              <th>Players in {{ matchInfo.match_info.team2 }} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
              <td (click)="redirectPlayer(matchInfo.players1[i].player_id)"
              >{{ matchInfo.players1[i].player_name }}</td>
              <td (click)="redirectPlayer(matchInfo.players2[i].player_id)"
              >{{ matchInfo.players2[i].player_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class= "justify-content-center flex">
        <table class = "table">
          <thead>
            <tr>
              <th>Umpires in the match</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of [0, 1, 2]">
              <td>{{ matchInfo.umpires[i].umpire_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class = "jumbotron col-md-12">
      <h2>Score Comparison</h2><br>
      <canvas id="ballByBall" width="500"></canvas>
    </div>

    <div class = "jumbotron">
      <h2>Match Summary {{ totalInnings1.tot_runs }}</h2>
      <br>
      
      <div class="d-flex flex-row">
        <h5>{{ matchInfo.match_info.match_id }} IPL {{ matchInfo.match_info.season_year }}</h5>
      </div>
      <hr>
      <div class="d-flex flex-row border" *ngFor="let innings of totalInnings1; let i = index">
        <div class = "flex-grow-1"><b>{{ battingTeamInnings1 }}</b></div>
        <div class = "flex-fill">{{ ((ballsInnings1.length - innings.extra_balls)/6).toFixed(1) }}</div>
        <div class = "flex-fill">{{ innings.tot_runs }} / {{ innings.tot_wickets }}</div>
      </div>
      <div class="d-flex flex-row border">
        <table class = "flex-fill border">
          <tbody>
            <tr 
          *ngFor="let p of bestInnings1batsmen; let i = index"
          (click)="redirectPlayer(p.player_id)"
          onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
          onmouseout="this.style.background='white';"
          >
              <td class = "flex-grow-1">{{ p.batsman1 }}</td>
              <td class = "flex-fill float-right"><b>{{ p.runs }}</b> </td> 
              <td class = "flex-fill"> {{ p.balls }}</td>
            </tr>
          </tbody>
        </table>
        <table class = "flex-fill border">
          <tbody>
            <tr 
          *ngFor="let p of bestInnings1bowlers; let i = index"
          (click)="redirectPlayer(p.player_id)"
          onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
          onmouseout="this.style.background='white';"
          >
              <td class = "flex-grow-1">{{ p.bowler1 }}</td>
              <td class = "flex-fill float-right"><b>{{ p.wickets }}</b>-</td> 
              <td class = "flex-fill"> {{ p.runs }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="d-flex flex-row border" 
          *ngFor="let innings of totalInnings2; let i = index">
        <div class = "flex-grow-1"><b>{{ battingTeamInnings2 }}</b></div>
        <div class = "flex-fill">{{ ((ballsInnings2.length - innings.extra_balls)/6).toFixed(1) }}</div>
        <div class = "flex-fill">{{ innings.tot_runs }} / {{ innings.tot_wickets }}</div>
      </div>
      <div class="d-flex flex-row border">
        <table class = "flex-fill border">
          <tbody>
            <tr *ngFor="let p of bestInnings2batsmen; let i = index"
            (click)="redirectPlayer(p.player_id)"
            onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
            onmouseout="this.style.background='white';"
            >
              <td class = "flex-grow-1">{{ p.batsman2 }}</td>
              <td class = "flex-fill float-right"><b>{{ p.runs }}</b> </td> 
              <td class = "flex-fill"> {{ p.balls }}</td>
            </tr>
          </tbody>
        </table>
        <table class = "flex-fill border">
          <tbody>
            <tr 
            *ngFor="let p of bestInnings2bowlers; let i = index"
              (click)="redirectPlayer(p.player_id)"
            onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
            onmouseout="this.style.background='white';"
            >
              <td class = "flex-grow-1">{{ p.bowler2 }}</td>
              <td class = "flex-fill float-right"><b>{{ p.wickets }}</b>-</td> 
              <td class = "flex-fill"> {{ p.runs }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
