<div class="container">
  <div class = "container border">
    <h3>Scorecard</h3>
      <hr>
      <div class = "container border">
        <h4>Innings 1</h4>
        <table class="table border">
            <thead>
                <tr>
                    <th scope = "col">Batsman</th>
                    <th scope = "col">Runs</th>
                    <th scope = "col">Fours</th>
                    <th scope = "col"> Sixes</th>
                    <th scope = "col">Balls faced</th>
                </tr>
            </thead>
            <tbody>    
                <tr
                *ngFor="let batsman of batsmenInnings1; let i = index"
                (click)="redirectPlayer(batsman.player_id)"
                onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
                onmouseout="this.style.background='white';"
                >
                <!-- [class.active]="i == currentIndex"
                (click)="setActiveMatch(i)"
                (dblclick)="redirectMatch(match.match_id)" -->
                    <th scope = "row">{{ batsman.player_name }}</th>
                    <td>{{ batsman.runs }}</td>
                    <td>{{ batsman.fours }}</td>
                    <td>{{ batsman.sixes }}</td>
                    <td>{{ batsman.balls }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table border">
          <thead>
            <tr>
              <th>Extras</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>    
              <tr>
                  <td>{{ totalInnings1.extra_runs }}</td>
                  <td>{{ totalInnings1.tot_runs }}</td>
              </tr>
          </tbody>
      </table>
      <table class="table border">
        <thead>
          <tr>
              <th scope = "col">Bowler</th>
              <th scope = "col">Balls bowled</th>
              <th scope = "col">Runs given</th>
              <th scope = "col">Wickets taken</th>
          </tr>
        </thead>
        <tbody>    
            <tr
            *ngFor="let bowler of bowlersInnings1; let i = index"
            (click)="redirectPlayer(bowler.player_id)"
            onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
            onmouseout="this.style.background='white';"
            >
                <th scope = "row">{{ bowler.player_name }}</th>
                <td>{{ bowler.balls }}</td>
                <td>{{ bowler.runs }}</td>
                <td>{{ bowler.wickets }}</td>
            </tr>
        </tbody>
      </table>
      
    </div>
    <div class = "container border">
      <h4>Innings 2</h4>
        <table class="table border">
            <thead>
                <tr>
                    <th scope = "col">Batsman</th>
                    <th scope = "col">Runs</th>
                    <th scope = "col">Fours</th>
                    <th scope = "col"> Sixes</th>
                    <th scope = "col">Balls faced</th>
                </tr>
            </thead>
            <tbody>    
                <tr
                *ngFor="let batsman of batsmenInnings2; let i = index"
                (click)="redirectPlayer(batsman.player_id)"
                onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
                onmouseout="this.style.background='white';"
                >
                <!-- [class.active]="i == currentIndex"
                (click)="setActiveMatch(i)"
                (dblclick)="redirectMatch(match.match_id)" -->
                    <th scope = "row">{{ batsman.player_name }}</th>
                    <td>{{ batsman.runs }}</td>
                    <td>{{ batsman.fours }}</td>
                    <td>{{ batsman.sixes }}</td>
                    <td>{{ batsman.balls }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table border">
          <thead>
            <tr>
              <th>Extras</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>    
              <tr>
                  <td>{{ totalInnings2.extra_runs }}</td>
                  <td>{{ totalInnings2.tot_runs }}</td>
              </tr>
          </tbody>
      </table>
      <table class="table border">
        <thead>
          <tr>
              <th scope = "col">Bowler</th>
              <th scope = "col">Balls bowled</th>
              <th scope = "col">Runs given</th>
              <th scope = "col">Wickets taken</th>
          </tr>
        </thead>
        <tbody>    
            <tr
            *ngFor="let bowler of bowlersInnings2; let i = index"
            (click)="redirectPlayer(bowler.player_id)"
            onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
            onmouseout="this.style.background='white';"
            
            >
                <th scope = "row">{{ bowler.player_name }}</th>
                <td>{{ bowler.balls }}</td>
                <td>{{ bowler.runs }}</td>
                <td>{{ bowler.wickets }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div> -->
<!-- </ng-template> -->