<div class = "container page-header">
    <h2>IPL {{ year }}</h2>
    <h3> Season Points table</h3> 
    <div class = "jumbotron">
        <table class = "table">
            <thead>
                <tr>
                    <th scope = "row"> Team Name </th>
                    <th scope = "row"> Mat </th>
                    <th scope = "row"> Won </th>
                    <th scope = "row"> Lost </th>
                    <th scope = "row"> Tied </th>
                    <th scope = "row"> NRR </th>
                    <th scope = "row"> pts </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of pointsTable; let i = index">
                    <th scope = "col"> {{ row.team }} </th>
                    <td> {{ row.matches }} </td>
                    <td> {{ row.won }} </td>
                    <td> {{ row.lost }} </td>
                    <td> {{ row.ties }} </td>
                    <td> {{ row.nrr }} </td>
                    <td> {{ row.points }} </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>