<div class="container">

    <div class = "jumbotron">
      <h1>Venue Card</h1>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Player Name</th>
            <td>{{ venueinfo.player_name }} </td>
          </tr>
          <tr>
            <th scope="row">Country Name</th>
            <td>{{ venueinfo.country_name }}</td>
          </tr>
          <tr>
            <th scope="row">Batting Skill</th>
            <td>{{ venueinfo.batting_skill }} </td>
          </tr>
          <tr>
            <th scope="row">Bowling Skill</th>
            <td>{{ venueinfo.bowling_skill }} </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

