<div class="jumbotron container">
    <h2>Venues</h2>
    <div>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let venue of venues | paginate: { id:'pg_venues',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: count
      }; let i = index"
          (click)="redirectVenue(venue.venue_id)"
          onmouseover="this.style.background='linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5))';"
          onmouseout="this.style.background='white';">
          <b>{{ venue.venue_name }}</b> <br>
        </li>
      </ul> 
    </div> 
    <div class="d-flex justify-content-center" style="padding-top: 20px;">
      <pagination-controls 
        id = "pg_venues"
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
  </div>